<div style="        height: 260px!important;
width: auto;
background: #f9fafb;
border: 1px solid #ebebeb;
border-radius: 10px;
margin-bottom: -20px;">
<div class="columns">
	<div class="column" style="    text-align: center;
	line-height: 200px!important;
	min-height: 200px!important;
	height: 200px!important;
	position: relative;">
	{% set linkimg = '' %}
	{% set findbarra = false %}
	{% for i in file.path | list('/')  %}

	{% if i == '/' %}
	{% set findbarra = true %}
	{% endif %}
	{% if findbarra == false %}
	{% set linkimg = linkimg + i %}
	{% endif %}
	{% endfor %}
	<img style="width: 110px;position: absolute;top: 50%;left: 50%;margin-left: -25%;margin-top: -25%;" src="/logos/{{linkimg}}.png" alt="">
</div>
<div class="column">
	<h3 style="    color: #333	;
	margin-left: -50px;
	margin-top: 10px;
	line-height: 50px;
	font-size: 42px!important;">{{ page.title|safe }}<br><b>{{linkimg}}</b></h3>
</div>
</div>
</div>